.topNav .nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

.topNav .nav-item {
  margin-right: 20px;
}

.topNav .nav-link {
  text-decoration: none;
  color: #fff;
}
