.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
}

.mainHeader .logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mainHeader .nav-link:hover {
  color: #2c3e50;
}
