.clientPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentPage {
  flex: 1;
  width: 80%;
  margin: auto;
}

.contentPage__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contentPage__user h2 {
  flex: 1;
  text-align: center;
}

.contentPage__user .contentPage__user-logoutBTN {
  margin-left: auto;
  margin-right: 20px;
}
.contentPage__user-logoutBTN {
  background-color: #333;
  color: #fff;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.contentPage__user-logoutBTN:hover {
  text-decoration: underline;
}
